{% extends "layout.html" %}

{% block content %}

<div data-role="page" id="welcome" data-url="{{ url_for('index') }}">


    <h1>Sonats Lockdown Workout</h1>
    <h2>Chapter 3</h2>

    <p>Ny challenge, i uken fra 14. desember til 20.desember er det følgende øvelser som
        gjelder. </p>

    <p>
        Hver dag kan du logge opptil(men ikke mer enn):<br><br>

    <table>
        <tr>
            <td align="right">30</td>
            <td>pullups</td>
            <td><a href="https://www.youtube.com/watch?v=HRV5YKKaeVw">Eksempel pullup</a></td>
        </tr>
        <tr>
            <td align="right">50</td>
            <td>burpees</td>
            <td><a href="https://www.youtube.com/watch?v=auBLPXO8Fww">Eksempel burpee</a></td>
        </tr>
        <tr>
            <td align="right">150</td>
            <td>benhev(Liggende)</td>
            <td><a href="https://www.youtube.com/watch?v=badUap_PnuA"> Eksempel benhev</a></td>
        </tr>
        <tr>
            <td align="right">240s</td>
            <td>planke</td>
            <td><a href="https://www.youtube.com/watch?v=BQu26ABuVS0&ab_channel=WaysAndHow">Eksempel planke</a></td>
        </tr>

    </table>


    </p>
    <p><a href="{{ url_for('logpushups') }}" class="btn btn-primary btn-large"> Logg innsats her. &raquo; </a> eller <a
            href="{{ url_for('registeruser') }}" class="btn btn-primary btn-large"> Registrer en ny bruker.&raquo; </a>
    </p>


</div>
{% endblock %}