{% extends "layout.html" %}

{% block content %}

<div data-role="page" id="welcome" data-url="{{ url_for('index') }}">


    <h1>Sonats Lockdown Workout</h1>
    <h2>Chapter 4</h2>

    <p>Nytt år nye øvelser, uken fra 4. desember til 8.desember er det følgende øvelser som
        gjelder. </p>

    <p>
        Hver dag kan du logge opptil(men ikke mer enn):<br><br>

    <table>
        <tr>
            <td align="right">100</td>
            <td>Tricep dips</td>
            <td><a href="https://hmg-h-cdn.hearstapps.com/videos/tricept-dip-1537969424.mp4">Eksempel dip</a></td>
        </tr>
        <tr>
            <td align="right">60</td>
            <td>Crawl til pushup</td>
            <td><a href="https://hmg-h-cdn.hearstapps.com/videos/crawl-out-to-push-up-1535569190.mp4">Eksempel Crawl til
                    pushup</a></td>
        </tr>
        <tr>
            <td align="right">150</td>
            <td>Bicycle crunch</td>
            <td><a href="https://hmg-h-cdn.hearstapps.com/videos/bicycle-crunch-1537967284.mp4">Eksempel Bicycle
                    crunch</a></td>
        </tr>
        <tr>
            <td align="right">240s</td>
            <td>15cm hold</td>
            <td><a
                    href="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/6-inch-hold-1535560474.jpg?crop=1xw:1xh;center,top&resize=980:*">
                    Eksempel 15 cm hold</a></td>
        </tr>

    </table>


    </p>
    <p><a href="{{ url_for('logpushups') }}" class="btn btn-primary btn-large"> Logg innsats her. &raquo; </a> eller <a
            href="{{ url_for('registeruser') }}" class="btn btn-primary btn-large"> Registrer en ny bruker.&raquo; </a>
    </p>


</div>
{% endblock %}