{% extends "layout.html" %}

{% block content %}

<div data-role="page" id="welcome" data-url="{{ url_for('index') }}">


    <h1>Sonats Lockdown Workout</h1>
    <p>I 2017 hadde vi en vennlig kappestrid i Sonat, hvem kunne først klare 10 000 push ups?
        Noble deltagere som Espen og JT gjorde det de kunne, men en mann, en maskin, en legende fra Oslo-kontoret
        blåste all mostand av banen. Ingen i Sonat kunne måle seg med Arild.
    </p>
    <p>
        Han tok push ups hjemme, han tok pushups under pultene ute hos kunder. Ikke under sin egen pult, "Nei, det
        ville virket rart", mente han.
        Han tok pushups under andre kollegaers pulter istedet.
        Med mange hundre flere pushups per dag enn sine motstandere tok det ikke mange ukene før han sto alene på
        toppen.
    </p>

    <p>
        Vi prøver igjen. Arild har blitt 3 år eldre, en gammel løve, kanskje kan noen av våre unge nye ansatte vippe ham
        av pinnen? Kanskje har J.T. trent nok i mellomtiden, kanskje bruser revansje i Espens årer.
    </p>
    <p>
        Nytt i år er også kappestrid mellom våre forskjellige selskaper. Kan Arild finne nok helter i Oslo til å stå i
        mot et samlet Bergen, eller vil Youwells vinne på ryggen av Per Kåres Taek Won Do trening. Er These ways Sonats
        dark horse?
    </p>


    <p>
        Denne gangen er det ikke bare push ups som teller, hver dag kan du logge opptil(men ikke mer enn):<br><br>
        250 sit ups <br>
        150 air squats <br>
        70 push ups <br>
        30 pull ups <br><br>

        Hver dag blir det utdelt medaljer til dem som får flest reps. <br>

    </p>
    <p><a href="{{ url_for('logpushups') }}" class="btn btn-primary btn-large"> Logg innsats her. &raquo; </a> eller <a
            href="{{ url_for('registeruser') }}" class="btn btn-primary btn-large"> Registrer en ny bruker.&raquo; </a>
    </p>


</div>
{% endblock %}