{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}:</h2>
22.11.2020: Changed exercise limits.<br>
20.11.2020: Database optimalization.<br>
20.11.2020: Caching for performance.<br>
20.11.2020: More than one exercise at the time.<br>
17.11.2020: Revamp for BG! <br>
21.06.2017: Activity page <br>
18.06.2017: Today-tab on leaderboard <br>
18.06.2017: Begun statspage for player <br>
17.06.2017: 5 days leaderboard <br>
16.06.2017: Added leaderboard <br>
13.06.2017: Added grey background to every page <br>
13.06.2017: Added Whatsnew page :-) <br>


<p>
    version: 1.4
</p>

{% endblock %}