name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2  
      - name: Black Code Formatter
        uses: lgeiger/black-action@v1.0.1
